.main {
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.productList {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.product {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #ebedf1;
	border-radius: 5px;
	transition: box-shadow 0.5s;
}

.productInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 15px 0;
	padding-left: 30px;
}

.imageWrapper {
	width: 200px;
	text-align: center;
}

.product img {
	max-width: 200px;
	max-height: 250px;
}

.product:hover {
	box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.65);
}

.price {
	font-weight: 600;
}

.btnOpen {
	display: flex;
	width: 300px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border: 1px solid #dbdbdb;
	align-self: center;
	transition: border-color 0.3s;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.btnOpen:hover {
	border-color: #ea4141;
}

.categories {
	border: 1px solid #dbdbdb;
	width: 70%;
}

.categories ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.categories li {
	padding: 10px;
	margin: 0;
	width: 100%;
}

.categories a {
	text-decoration: none;
	color: black;
	font-weight: 400;
}

.categories .parent {
	position: relative;
	padding-right: 10px;
}

.categories .child {
	position: absolute;
	left: 100%;
	top: -1px;
	margin: 0;
	padding: 0;
	border: 1px solid #dbdbdb;
	background-color: white;
}

.categories .child a {
	padding-right: 15px;
}

.categories .parent > a {
	display: inline-block;
	width: 100%;
	position: relative;
}

.categories .parent > a::after {
	content: '';
	position: absolute;
	top: 25%;
	right: 0;
	width: 5px;
	height: 5px;
	border: 2px solid grey;
	border-left: none;
	border-bottom: none;
	transform: rotate(45deg); 
}

.categories .parent > .child {
	display: none;
}

.categories .parent:hover > .child {
	display: block;
}

.btn {
	border: none;
	background: none;
	outline: none;
	display: inline-block;
	border: 1px solid #dbdbdb;
	transition: border-color 0.3s;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.btn:hover {
	border-color: #ea4141;
}

.btnSearch {
	width: 100px;
	height: 30px;
}

.tools {
	width: 30%;
	padding-right: 25px;
}

.filters {
	margin-top: 50px;
}

.filter {
	max-height: 200px;
	overflow-y: auto;
	margin-bottom: 25px;
}

.btnFilters {
	margin: 0 auto;
	width: 200px;
	height: 50px;
}

.currentCategory {
	margin-bottom: 40px;
}

.paginationWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.pagination {
	display: flex;
}

.pagination .page {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	width: 35px;
	height: 40px;
	border: 1px solid #dbdbdb;
	margin-right: 10px;
}

.pagination .page:last-child{
	margin-right: 0;
}

.pagination .disabled {
	color: #dbdbdb;
	cursor: default;
}

.pagination .active {
	border-color: #ea4141;
	border-width: 2px;
	color: #ea4141;
	font-weight: 600;
}